@font-face {
  font-family: 'fa-regular';
  src: url('../fonts/fa-regular-400.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.console {
  position: relative;
  --dark-gray: rgb(40, 40, 40);
  --medium-gray: rgb(60, 60, 60);
  --light-gray: rgb(80, 80, 80);
  --dark-yellow: rgba(255, 200, 0, 0.5);
  --light-yellow: rgba(255, 200, 0, 1);
}

.console__wrapper {
  width: 800px;
  height: 400px;
  min-width: 300px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  resize: both;
  background: var(--dark-gray);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
}

.console__dragBar {
  width: 100%;
  min-height: 30px;
  background: var(--light-gray);
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  cursor: default;
}

.console__exit {
  font-family: 'fa-regular';
  width: 30px;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 100;
  cursor: pointer;
}
.console__exit::before {
  content: '\f00d';
}
.console__exit:hover {
  background: var(--medium-gray);
}

.console__list {
  padding: 12px;
  list-style-type: none;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.console__inputContainer {
  padding: 12px;
  margin-top: auto;
  position: relative;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 60px;
  min-height: 60px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.console__input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background: var(--light-gray);
  color: rgba(255, 255, 255, 0.9);
  padding: 0 12px;
  outline: 1px solid var(--dark-yellow);
}
.console__input:focus {
  outline: 1px solid var(--light-yellow);
}

.console__button {
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  background: var(--light-gray);
  color: rgba(255, 255, 255, 0.9);
  margin-left: 12px;
  cursor: pointer;
}
.console__button:hover {
  background: var(--medium-gray);
}
.console__button:active {
  transform: scale3d(0.96, 0.96, 0.96);
}

.console__matches {
  position: absolute;
  list-style-type: none;
  background: var(--light-gray);
  bottom: 14px;
  left: 11px;
  transform: translateY(100%);
}

.console__matchesButton {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: inherit;
  padding: 2px 12px;
}

.console__matchesButton:focus {
  background: var(--dark-yellow);
}
.console__matchesButton:hover {
  background: var(--dark-yellow);
}
